@font-face { /*Final Fantasy Font*/
    font-family: 'optiengeetienneregular';
    src: url('optiengeetienne-webfont.woff2') format('woff2'),
         url('optiengeetienne-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*Background and General Modifications*/
body {
    background-image: url('../img/BackgroundFF.jpg');
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    background-position: top inherit, top inherit;
    font-family:"optiengeetienneregular";
    letter-spacing: 1px;
    word-spacing: 2.5px;
}

/*Modifications for Text*/
p {
  font-family: 'Kaisei Opti', serif;
  font-size: 20px;
  color: white;
}
h1 {
  font-size: 4vw;
  color: whitesmoke;
  letter-spacing: 5px;
}
h2 {
  font-size: 3.25vw;
  color: lightgrey;
  letter-spacing: 5px;
}
h3 {
  font-size: 3vw;
  color: lightgrey;
  letter-spacing: 5px;
}

.rotate {
  transform: rotate(90deg);
}

/*Object Centered*/
.center {
  text-align: center;
}

/*Naviguation Bar*/
nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: lightgray;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

/*Parameters for blocks*/
.block {
  border-radius: 15px;
  background-color: black;
  padding-top: 15px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
  max-width: 50%;
  margin: auto;
  opacity: 0.85;
}

/*For the Video*/
.vid {
  max-width: 840;
  max-height: 480;
  width: auto;
  height: auto;
  text-align: center;
}

/*For the Gallery*/
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: center;
  width: auto;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

.container {
  position: relative;
}

.Slides {
  display: none;
}

.cursor {
  cursor: pointer;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 20%;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

/*Bottom of the site*/
.End {
  border-radius: 15px;
  background-color: gray;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
  max-width: 100%;
  text-align: center;
  opacity: 0.85;
}
