@font-face { /*Final Fantasy Font*/
    font-family: 'optiengeetienneregular';
    src: url('optiengeetienne-webfont.woff2') format('woff2'),
         url('optiengeetienne-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*Background and General Modifications*/
body {
    background-image: url('../img/backgroundff.jpg');
    background-repeat: no-repeat;
    background-size: cover, cover;
    background-position: top inherit;
    font-family:"optiengeetienneregular";
    letter-spacing: 1px;
    word-spacing: 2.5px;
}

/*Modifications for Text*/
p {
  font-family: 'Kaisei Opti', serif;
  font-size: 20px;
  color: white;
}
h1 {
  font-size: 4vw;
  color: whitesmoke;
  letter-spacing: 5px;
}
h2 {
  font-size: 3.25vw;
  color: lightgrey;
  letter-spacing: 5px;
}
h3 {
  font-size: 3vw;
  color: lightgrey;
  letter-spacing: 5px;
}
h6 {
  font-size: 1.5vw;
  color: lightgrey;
  letter-spacing: 5px;
}

.button {
  background-color: black;
  border: none;
  color: whitesmoke;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  border-radius: 50px;
}

.button2 {
  background-color: white;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  border-radius: 50px;
}

.button3 {
  width: 20%;
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

/*Object Centered*/
.center {
  text-align: center;
}

/*Naviguation Bar*/
nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

li {
  float: left;
  font-size: 20px;
}

li a {
  display: block;
  color: lightgray;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

/*Parameters for blocks*/
.block {
  border-radius: 15px;
  background-color: black;
  padding-top: 15px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
  max-width: 50%;
  margin: auto;
  opacity: 0.85;
}

#IG {
   width: 50px;
}

/*For Videos*/
.vid {
  max-width: 60%;
  max-height: 900px;
  width: auto;
  height: auto;
  text-align: center;
  margin: auto;
}

.youtube {
  width: 60vw;
  height: 600px;
  border: 0;
}

.noborder {
  border: 0;
}

#SE {
  width: 95%;
  height: 900px;
}

/*For the Gallery*/
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: center;
  width: auto;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

.container {
  position: relative;
}

.Slides {
  display: none;
}

.cursor {
  cursor: pointer;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 20%;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

/*Bottom of the site*/
.End {
  border-radius: 15px;
  background-color: gray;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
  max-width: 100%;
  text-align: center;
  opacity: 0.85;
}
